:root {
    --nutmeg: hsl(14, 45%, 36%);
    --darkRaspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
    --link: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

body {
    /* 16px */
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    color: var(--wengeBrown);
    background-color: var(--eggshell);
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: 'Young Serif', serif;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 600;
    color: var(--nutmeg);
}

.container {
    /* 320px */
    min-width: 20rem;
    /* 375px */
    max-width: 23.4375rem;
    /* 150px */
    margin: 9.375rem auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--white);
}

.content {
    /* 32px 0 48px */
    padding: 2rem 0 3rem;
    line-height: 2;
}

.illustration {
    display: block;
    border-radius: .5rem;
}

.title {
    /* 16px */
    margin-bottom: 1rem;
    color: var(--darkCharcoal);
}

.section {
    /* 32px */
    padding: 2rem 0;
}

.section ul,
.section ol {
    /* 16px */
    padding-left: 1rem;
}

.section li {
    margin-bottom: .5rem;
    /* 19.2px */
    padding-left: 1.2rem;
}

.section li::marker {
    font-weight: 700;
}

.section ol li::marker {
    color: var(--nutmeg);
}

.preparation {
    margin-top: 2rem;
    border-radius: 1rem;
    /* 24px */
    padding-left: 1.5rem;
    background-color: var(--roseWhite);
}

.preparation header h2 {
    font-weight: 700;
    font-family: inherit;
    color: var(--darkRaspberry);
}

.section header {
    margin-bottom: 1rem;
}

.hr {
    display: block;
    border-top: 1px solid var(--eggshell);
}

.section table tr {
    position: relative;
}

.section table tr:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 1px solid var(--eggshell);
}

.section table tr td {
    /* 56px */
    padding: 0 3.5rem;
}

.nutmeg {
    color: var(--nutmeg);
}

.attribution {
    /* 11px */
    font-size: 0.6875;
    text-align: center;
}

.attribution a {
    color: var(--link);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--roseWhite);
}