@media (min-width: 1440px) {
    .container {
        /* 800px */
        max-width: 50rem;
        /* 250px */
        margin: 15.625rem auto;
        padding: 4rem;
    }

    .content {
        /* 64px 0 96px */
        padding: 4rem 0 6rem;
    }

    .preparation {
        /* 48px */
        padding-left: 3rem;
    }


    .section table tr td {
        /* 120px */
        padding: 0 7.5rem;
    }
}